.banner-top{
    min-height: 45px;
    background-color: #ffffff;
    border-bottom: solid rgba(128, 128, 128, 0.09) thin;
}
.logo{
    height: 96%;
    /*margin-right: 5px;*/
    padding: 0px;
}
img.img-responsive.logo{
    height: 71%;
    padding: 0px;
}
.my-navbar{
    background-color: #ffffff;
    color:#000000;
    margin-top: 10px;
    margin-top:0px;margin-bottom:0px;
}
.my-navbar a{
    color: #000000;
    font-weight: bold;
    font-size: 1.4em;
}
ul.my-ul li a:hover{
    color:#000;
    background-color: rgba(128, 128, 128, 0.13);
}
.my-ul{
    font-size: 12px;

}
.my-navbar span.icon-bar{
    color:#000000;
    background-color: #81b4ff;
    width:35px;
    height:4px;
    margin-top:5px;
}
/*.bg-doc-head{*/
    /*height: 350px;*/
    /*background: rgba(0, 0, 0, 0) url("../img/4.jpg") no-repeat scroll center center / cover;*/
/*}*/
.bg-doc-head .container h2{
    text-align: center;
    color:white;
    margin-top:5em;
}
.bg-doc-head .container p{
    text-align: center;
    color:white;
    margin-top:1em;
}
ul{
    padding:0px;
}
/*.banner-top-3{*/
    /*height: 50px;*/
    /*background-color: #39AB49;*/
    /*margin-bottom: 30px;*/
/*}*/


.social li{
    list-style: none;
    display: inline;
    margin-right: 10px;
    float: right;

}
.social li a span{
    line-height: 50px;
}
.my-icon{
    box-sizing: border-box;
    color: #FFF;
}
.activity{
    color: #FFF;
    line-height: 10px;
    font-weight: bold;
}

div{
    text-align: justify;
    text-justify: inter-word;
    font-weight: 200;

}
.title{
    margin-bottom: 1em;
}
.description img{
    margin-top:1em;
    margin-bottom: 1em;
    width:100%;
}
.item-box{
    padding:0px;
    padding-bottom: 1.2em;
    margin-top:20px;
    height: 270px;

    -moz-box-shadow: 1px 1px 2px #c4c0c4;
    -webkit-box-shadow: 1px 1px 2px #c4c0c4;
    box-shadow: 1px 1px 2px #c4c0c4;

}

.item-box img{
    border-radius:2px;
    height: 120px;
}
.item-box:hover{
    background-color: #F3F3F3;
    border-radius: 4px;
}
.item-box center:nth-child(1){
    background-color: #000;
}
.price{
    height: 30px;
    padding-left: 1em;
    color: #FFF;
    padding-top:0.4em;
    font-weight: bold;
    margin-bottom: 1.7em;
}
.a-item:hover{
    text-decoration: none;

}
.box-title{
    color: #39AB49;
    font-weight: bold;
    margin-left: 0.8em;
    margin-right: 0.8em;
}
.short-description{
    color:#000;
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-bottom: 2em;
}


/*middle banner*/

.row1{
    min-height: 66px;
}
.mybox1{
    border-radius: 3px;
    min-height: 200px;
}

.caption:hover{
    opacity: 0.80;
}


.thumbnail:hover{
    opacity: 0.90;
}
div.caption{
    border-radius: 3px;
}
.search1{
    padding-right: 40px;
}
/*.mycontainer{*/
/*padding-left: 50px;*/
/*}*/
/*.container{
    width: 80%;
    margin: 0 auto;
}*/
div.col-sm-4{
    margin:10px;
    border: 0px;
    padding: 0px;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
}
p{
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}
/*singl1 banner1*/
.banner1{
    width: 100%;
    background-color: #1F323F;
    margin-top: 50px;
    min-height: 50px;
    clear: both;
}
.myfix{
    position: fixed;
    width: 100%;
    z-index: 10;
    top: -50px;
}

.myhead1{
    clear: both;
    width: 100%;
    padding-top:120px;
    /*background-image: url("../images/team-banner.jpg");*/
    /*background: rgba(0, 0, 0, 0.41) url("../images/team_banner.jpg") no-repeat scroll center center / cover;*/
    /*opacity: 0.90;*/
     background-color: transparent;
    background-size: cover;
    background-position: center center;
background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;

}
.boxbanner1{
    color: #ffffff;
    font-weight: bolder;
    font-size: 14px;
}
.boxbanner{
    color: #ffffff;
    font-weight: bolder;
    font-size: 24px;
    margin-top: -145px;
    text-transform: uppercase;
}
title:hover{
    color: #000000;
}
.mycontact{
    text-transform: uppercase;
    color: black;
    margin-left: 10px;
}
.modal-content{
    -moz-box-shadow: 0px 1px 0px #000000;
    -webkit-box-shadow: 0px 1px 0px #000000;
    box-shadow: 0px 1px 0px #000000;
}
/*modal form contact*/
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
/*thumnail samll*/

.thumnail{
    border: none;
}
.mythumnail:hover{
    
    opacity: 0.99;

}
.img-thumbnail{
    border: solid 0px thin; 
}
.carousel-caption{
   padding-bottom: 1px;
    margin: 4px;
    line-height: 100%;
}
.right-box{
    margin-top: 2px;
}
.right-booking{
   margin-left: -6px;
padding-left: 6px;
}
tr td{
   font-family: "NHaasGroteskDSW01-75Bd","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top:  white;
}
.main_content{
    border-radius: 4px;
}
/*slide*/
.carousel {
    position: relative;
    height: 113%;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 90%;
      margin: auto;
      padding: 0px;
  }
div.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}
a.carousel-control.left {
   background-image: none;
}
.slide{
    padding: 0px;
    margin: 0px;
    background-color: white;
}
.table{
    font-size: 18px;
    font-weight: 0;
    text-align: left;
    font-family: "NHaasGroteskDSW01-75Bd","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.carousel-inner{
    max-width: 97%;
 /*   margin-left: 1px;*/
}
.table{
    border-color: white;
}


.img-thumbnail{
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #bdb6b6;
    border-radius: 2px;
    margin-left: 5%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 13px;
}
.img-thumbnail1{
    display: inline-block;
    width: 95%;
    height: auto;
    padding: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #bdb6b6;
    border-radius: 2px;
    margin-left: 5%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 13px;
    height: 134px;

}
.myline{
    width: 96%;
    clear: both;
    padding-top: 1%;
    margin-left: 9px;
}
.myfoot1{
    width: 96%;
    clear: both;
    padding-top: 5%;
    margin-left: 9px;
}
.desc{
    padding: 15px 5px;
}
/*for scroll top*/
.scrollToTop{
    width:100px; 
    height:30px;
    padding:3px;
    padding-top: 600px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    text-decoration: none;
    position:fixed;
    top:75px;
    right:40px;
    display:none;
    background: url('') no-repeat 0px 20px;
}
.scrollToTop:hover{
    text-decoration:none;
    
}
/*image slide*/
.slide_img{
    height:250px;
}
