{% include "partials/header.html" %}
<div class="container">
    <div class="row">
   <!--  <div class="col-sm-12 col-xs-12" style="padding-top: 25px;padding-right: 1%;">
            <div class="col-ms-2 col-xs-12  "></div>
            <div class="col-ms-8 col-xs-12 row1 panel panel-default" style="padding: 0px;">
                <div class="row1 " style="min-height: 70px;">
                    <center>
                        <label style="padding-top: 15px;font-weight: bold">While not always necessary, sometimes you need to put your DOM</label>
                       
                    </center>
                </div>
            </div>
            <div class="col-ms-2 col-xs-12"></div>
    </div> -->
    </div>
    <div class="row">
    <div class="col-sm-12 mytitle">
            <center>
                <label style="padding-top: 15px;font-weight: bold">11While not always necessary, sometimes you need to put your DOM</label>                 
            </center>
    </div>
</div>
</div>
<!--end of panel -->
<!--start box image-->
<div class="container mycontainer">
    <div class="row">
        {% for tour in tours %}
             <a href="{% url 'single' tour.slug %}">
                <div class="col-sm-4 thumbnail text-center" style="background-color:black;">
                    <center>
                        {% if tour.feature_image == none %}
                           <img alt="" class="img-responsive  mybox1"
                             src="/static/images/notfound.png" style="height:200px;width: 100%;">
                        {% else %}
                            <img alt="" class="img-responsive  mybox1"
                             src="/{{tour.feature_image}}" style="height:200px;width: 100%;">
                         {%endif%}   
                    </center>
                    <div class="caption">
                        <br><br><br>
                        <p><h4>{{tour.title}}</h4></p>
                       <!--  <p><h6 style="color:white;font-weight: bold;">Price: ${{tour.price}}</h6></p> -->
                        <!--<p>Mexico</p> -->
                    </div>
                </div>
            </a>
        {% endfor %}
        <span id="wrap"></span>
    </div>
</div>
<a href="#" class="scrollToTop">Top</a>
<script type="text/javascript">
    
$(document).ready(function(){
    
    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });
    
    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });
    
});


</script>

<script>
var scrollid=15;
var tour;
function yHandler(){
    var wrap = document.getElementById('wrap');
    var contentHeight = wrap.offsetHeight;
    var yOffset = window.pageYOffset; 
    var y = yOffset + window.innerHeight;
    if ((window.innerHeight + window.scrollY)+300 >= document.body.scrollHeight) {
        $.ajax({
          type: "GET",
          url: "/scroll/"+scrollid,
            success: function(response) {
                tours=JSON.parse(response);
                console.log("result "+scrollid+"= "+response);
                for(var i=0;i<tours.length;i++) {
                   wrap.innerHTML+="<a href='"+tours[i].fields.slug+"'><div class='col-sm-4 thumbnail text-center' style='background-color:black;'><center><img alt='' class='img-responsive  mybox1'src='/"+tours[i].fields.feature_image+"' style='height:200px;'></center><div class='caption'><br><br><br><p><h4>"+tours[i].fields.title+"</h4></p><p><h6 style='color:white;font-weight: bold;'>price: $"+tours[i].fields.price+"</h6></p></div></div></a>";
                }
            }
        });
        scrollid=scrollid+3;
    }
}
window.onscroll = yHandler;
</script>

</body>
</html>