{% include "partials/header.html" %}

<div class="banner1 ">
    <center style="color: white;padding-right:2%;">
        <label class="myadd1">
            <a href="#" style="color:white;">
            We want you to spend less on office rent and to stop.
            </a>
        </label>
    <a style="color: white;padding-left:17%;"  href="/contact">
        <button  class="btn btn-default"  style="background-color: rgba(0, 0, 0, 0.05);color: #ffffff;"
                class="btn btn-info btn-lg">
            <i class="fa fa-1x fa-envelope" aria-hidden="true"></i>
            Contact
        </button>
    </a>
    </center>
</div>
<!--scroll menu top fix-->
<script type="text/javascript">
    $(window).scroll(function(){
        var banner1 = $('.banner1'),
                scroll = $(window).scrollTop();
        if (scroll >= 55) banner1.addClass('myfix');
        else banner1.removeClass('myfix');
    });
</script>
<!--end scroll menu top-->

{% for tour in tours %}
   
    {% if tour.banner == '' %}  
        <div class="myhead1" style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/static/images/banner_none.jpg");'>
            <div class="container">
                <center>
                    <label class="boxbanner" style=";font-size: 25px;margin-bottom: 33px;">
                    {{ tour.title }}
                    </label>
                    <br/>
                    <label class="boxbanner1">
                        {{tour.Short_description}}
                    </label>
                </center>
            </div>
        </div>         
    {% else %}   
            <div class="myhead1" style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/{{tour.banner}}");'>
                <div class="container">
                    <center>
                        <label class="boxbanner" style=";font-size: 25px;margin-bottom: 33px;">
                        {{ tour.title }}
                        </label>
                        <br/>
                        <label class="boxbanner1">
                            {{tour.Short_description}}
                        </label>
                    </center>
                </div>
            </div>
    {% endif %}   


<!-- 


    <div class="myhead1" style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/{{tour.banner}}");'>
        <div class="container">
            <center>
                <label class="boxbanner" style=";font-size: 25px;margin-bottom: 33px;">
                {{ tour.title }}
                </label>
                <br/>
                <label class="boxbanner1">
                    {{tour.Short_description}}
                </label>
            </center>
        </div>
    </div> -->

<div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="clear: both">
            <br>
                <div>
                    <p class="description">
                      {{ tour.description }}
                     </p>
                </div>
                <br>
                    <ul class="nav nav-tabs">
                      
                            <li class="active" role="presentation">
                            <a href="#" onclick="show(0)" data-toggle="tab"><i class="" aria-hidden="true"></i>
                            Map
                        </a></li>
                       
                        {% for tab in tabs %}
                            <li role="presentation">
                            <a href="#" onclick="show({{tab.id}})" data-toggle="tab"><i class="" aria-hidden="true"></i>
                               {{ tab.title }} 
                            </a></li>
                        {% endfor %}
                        
                    </ul>
            <br>
            <!--end nav menu-->

            <!--show nav menu onclick-->
            <div id="id0" class="tab" style="display: block">
               
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 map">
                   {{ tour.map }}
                </div>
               
            </div>
            <div id="tabdetail">
                      
            </div>
                <script>var help=0;</script>
                {% for tab in tabs %}
                       <script> //alert('d'); 
                        help++;
                        var tabdetail="{{ tab.description }}";
                        //alert(tabdetail);
                        var arr_detail_line=tabdetail.split(',;;;');
                        var arr_detail=[];
                        document.getElementById('tabdetail').innerHTML+='<div id="id{{ tab.id }}" class="tab" style="display:none"><table class="table" id="tabtable_{{tab.id}}"></table></div>';
                        for(var i=0;i<arr_detail_line.length;i++){
                            arr_detail=arr_detail_line[i].split('$$$');
                                document.getElementById('tabtable_{{tab.id}}').innerHTML+='<tr><td style="width:25%;">'+arr_detail[0].replace(';;;','')+'</td><td class="desc">'+arr_detail[1]+'</td></tr>';
                            //}   
                        }

                </script>
                    
                {% endfor %}

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px;margin: 0px;">
            <br>
                 <!--slide-->
                <!--<div class=" hidden-xs">-->
                <div class="container-slides">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                        <div class="carousel-inner"  role="listbox" id="slide_image">
                           <!--slide is here-->
                        </div>
                        <script type="text/javascript">
                            var images="{{tour.imagename}}".split(',');
                            for(var i=0;i<images.length;i++){
                               
                                if(i==0)
                                    document.getElementById("slide_image").innerHTML+='<div class="item active"><img style="width: 98%;border-radius: 3px;padding-top: 0%;" src="/'+images[i]+'" alt=""></div>';
                                else
                                    document.getElementById("slide_image").innerHTML+='<div class="item slide_img"><img class="img-responsive " style="width: 100%;border-radius: 3px;padding-top: 0%;" src="/'+images[i]+'" alt="Chania"></div>';
                            }
                        </script>
                    </div>



                <!-- <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script> -->
                {% endfor %}
                <!--end slide-->
               {% for schedule in schedules %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right-box">
                    <a href="/{{tour_id}}/{{ schedule.id }}/booking/" >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 package-box">
                            <h2>
                                From:{{schedule.start_date}}
                                <br/>
                                To:{{schedule.end_date}}
                            </h2>
                            <p>
                                <b>
                                    ${{ schedule.price }}
                                </b>
                                      <span> /
                                          person
                                      </span>
                            </p>
                        </div>
                    </a>

                </div>
                {% endfor %}
            <!--small image show-->
            <div class="clearfix"></div>
            <center> <label style="font-weight: bold;">Related tours:</label></center>
            {% for related in related_posts %}

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right-box hidden-xs" style="padding: 0px;">
                    <a href="{% url 'single' related.slug %}">
                        <div class="text-xs-center">
                             {% if related.feature_image == none %}
                              <img src="/static/images/notfound.png" style="height: 120px;" class="img-responsive img-thumbnail mythumnail" alt="Not found ">
                                <div class="carousel-caption">
                                <a href="{% url 'single' related.slug %}" style="font-size: 14px; color: white;margin-top: 30px;">
                                {{ related.title }}
                                <!-- <span class="badge">${{related.price}}</span> --></a><br>
                                </div>

                            {% else %}
                                <img src="/{{related.feature_image}}" style="height: 120px;" class="img-responsive img-thumbnail mythumnail" alt="Not found ">
                                <div class="carousel-caption">
                                  <a href="/{{related.slug}}" style="font-size: 14px;font-weight: bold; color: white;margin-top: 30px;">
                                    {{ related.title }}
                                    <!-- <span class="badge">${{related.price}}</span> --></a><br>
                                </div>

                             {%endif%}   

                        </div>
                    </a>
                </div>
                    <style type="text/css">
                            .img-thumbnail{
                                padding: 0px;         
                            }
                    </style>
            {% endfor %}
        </div>

    </div>
</div>
    <br>
    <div class="myline" >
        <label>Latest Tours</label>
    </div>
        {% for related in related_footer %}
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " style="padding: 0px;margin-left: -6px;">
                <a href="/{{related.slug}}">
                {% if related.feature_image == none %}
                     <div class="text-xs-center">
                        <img src="/static/images/notfound.png" style="" class="img-responsive img-thumbnail1 " alt="Not found ">
                        <div class="carousel-caption">
                            <a href="{% url 'single' related.slug %}" style="font-size: 11px; color: white;margin-top: 30px;">
                          <a href="/{{related.slug}}" style="font-size: 12px;color:#6c6060;margin-top: 30px;">
                            {{ related.title }}
                           <!--  <span class="badge">${{related.price}}</span> --></a><br>
                        </div>
                    </div>
                {% else %}
                <a href="{% url 'single' related.slug %}">
                    <div class="text-xs-center">
                        <img src="/{{related.feature_image}}" style="" class="img-responsive img-thumbnail1 " alt="Not found ">
                        <div class="carousel-caption">
                          <a href="{% url 'single' related.slug %}" style="font-size: 15px;color: white;margin-top: 30px;">
                            {{ related.title }}
                            <!-- <span class="badge">${{related.price}} --></span></a><br>
                        </div>
                    </div>
                {% endif %}
                </a>
            </div>
              
        {% endfor %}
<a href="#" class="scrollToTop">Top</a>
    <div class="myfoot1" >
    </div>
</div>
</div>
<script type="text/javascript">
/*script for scroll Top*/
$(document).ready(function(){
    
    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollToTop').fadeIn();
        } else {
            $('.scrollToTop').fadeOut();
        }
    });
    
    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });
    
});


</script>


<script src="/static/js/jquery-ui.js" type="text/javascript"></script>
<script src="/static/js/custome.js" type="text/javascript"></script>
<link href="/static/css/jquery-ui.css" rel="stylesheet">
<link href="/static/css/style_single.css" rel="stylesheet">
<link href="/static/css/singl1.css" rel="stylesheet">

</body>
</html>